body{
    font-family:'Courier New', Courier, monospace;
}

.bigBtn {
    border-radius: 10%;
    outline: 1px solid grey;
    margin-top: 20%;
    font-size:large;
    width: 100px;
    height: 50px;
    background-color: darkseagreen;
}

.bigBtn:active{
    background-color: seagreen;
}

#title{
    margin-top: 10%;
    text-align: center;
}

.iconBtn{
    width: 50px;
    height: 50px;
    border: none;
}
#openConfigBtn{
    position:absolute;
    top:5px;
    right:5px;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#configMenu {
    z-index: 1;
    top: 60px;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color:black;
    color: white;
}

#saveConfigBtn{
    align-self: center;
    
}